@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #1F2229;
}

a {
    text-decoration: none;
    color: #e7e7e7;
}

a:hover {
    background: rgba(0, 0, 0, 0.05);
}

#header {
    height: 70px;
    /*media query considera esta altura*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-image: url(images/starfield-banner.jpg);
}

#logo {
    font-size: 1.5rem;
    font-weight: bold;
}

#menu {
    display: flex;
    list-style: none;
    gap: .5rem;
}

#menu a {
    display: block;
    padding: .5rem;
}

#btn-mobile {
    display: none;
}

@media (max-width: 600px) {
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0;
        background: #e7e7e7;
        /* bgc ul mobile*/
        transition: .6s;
        z-index: 10;
        height: 0;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        /* overflow-y: auto;  barra de rolagem vertical caso haja mais itens no menu*/
        background: #1F2229;
    }
    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }
    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburger {
        display: block;
        border-top: 2px solid;
        width: 20px;
        color: #e7e7e7;
    }
    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background-color: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #nav.active #hamburger {
        border-top-color: transparent;
    }
    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}